.todo-list {
    height: 400px;
    width: 300px;
    background-color: #d3e4ff;
}

.todo {
    display: flex;
    justify-content: space-between;
}

.hide-edit-todo-button {
    display:none;
}

.todo-link {
    text-decoration: none;
    color: blue;
}

.todo-link:hover {
    background-color: gray;
}